/* INFORMATIONS GENRALES
    - Document : Re-Made-France
    - Version : 1.0.0
    - Author : Kevin P.

* h1 = TITRE PRINCIPAL
* h2 = Titre vignette

/* GLOBAL
=========================================================*/

html {
    background-color: #fff;
}

h1,h2,h3,h4 {
    font-family: "lato","arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    word-spacing: 8px;       
}

h1 {
    color: #0007b2;
    text-align: center;
    text-decoration-line:overline;
    font-size: 200%;
}


h2 {
    color: #830000;
    text-align: center;
    text-decoration-line: underline;
    font-weight: 900;
    font-size: 130%;
    margin-bottom: 20px;
}
/*
h3 {
    color: #00c125;
    font-size: 160%;
}

p {
    font-size: 70%;
    font-weight: 400;
    line-height: 24px;  
}
*/

section {
    padding: 10px;
}


/* HEADER
=========================================================*/

.image-title {
    background-image: linear-gradient(rgba(255, 255, 255, 0.95),rgba(255,255,255,0.6)),url(../images/maps.png);
    height: auto;
    background-position: center;
    margin-top: 85px
}

.home-title {
    text-align: center;
    padding: 30px
}

.home-title p span {
    font-weight: 800;
}

/*
.image-calque-tittle {
    color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255,255,255,0.7)),url(../images/delete.png);
    background-position: center;
    background-size: cover;

}

.text-tittle {
    position: relative;
    top: 30%; 
}

.image-intro {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255,255,255,0.8)),url(../images/test_reso_1920x1080.jpg);
    height: 40vh;
    background-position: center;
    background-size: cover;
}

.text-intro {
    position: relative;
    top: 10%; 
}
*/

/* AGIR
=========================================================*/
.fond-detail {
    border-color: black;
    border-top-style: solid;
    background-image: url(../images/main_soleil.jpg);
    background-size:cover;
    background-position: center;
}

/* VIGNETTES
=========================================================*/
.bloc-vignette {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vignette {
    display: block;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0, 17, 145);
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}

.vignette p {
    font-weight: 800;
    font-size: 150%;
}

/* SERVICES
=========================================================*/
.fond-services {
    border-color: black;
    border-top-style: solid;
    background-image: url(../images/pousse.jpg);
    background-size:cover;
    background-position: center;
}
.bloc-services {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vignette2 {
    display: block;
    background-size: contain 0;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 250px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0, 17, 145);
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}

/* FORMULAIRE DE CONTACT
=========================================================*/
.contacts {
    background-color: #edfdee;
    padding: 20px
}

.contact-form {
    margin-bottom: 20px;
}

.contact-message {
    width: 100%;
}

.btn-contact {
    background-color: azure;
    color: #881313;
    font-weight: 1000;
    margin-right: 10px
}

.map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* FOOTER
=========================================================*/

footer {
    background-color: #838383;
    color: white;
    height: 60px;
    padding: 20px 20px;
}

.copyright {
    text-align: center
}

.copyright a {
    color: #fff;
}

/* MENTIONS LEGALES
=========================================================*/
.mentions-legales {
    margin-top: 120px;
}